/* some global styles */

html {
    font-size: 1rem;
}

@media screen and (max-width: 1920px) {
html {
    font-size: calc(0.49999999999999994rem + 0.41666666666666674vw);
    }   
}

/* @media screen and (max-width: 1180px) {
    html {
        font-size: calc(0.6876951092611863rem + 0.20811654526534862vw);
        }
    } */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    margin: 0;
    
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #fbf9ff;
    background-color: #050614;
    overflow-x: hidden;
    overflow-y: scroll;
}
