html {
    -webkit-text-size-adjust: 100%;
    font-size: calc(0.49999999999999994rem + 0.41666666666666674vw)
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto",sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #050614;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}
