/* header styles */

.available-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.available-block {
    padding: 1rem 0;
    margin: 1rem 0;
    text-align: center;
}

.available-green {
    color: #6eff00;
}

.hero-text {
    font-size: 3.75rem;
}

/* tabs */

  
.tab-list {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.btn-tabs {
    margin: 0 0.25rem;
    padding: 0.75rem 2rem;
    border: none;
    background: #1f202d;
    color: #fbf9ff;
}
  
.btn-tabs-active {
    border: none;
    background: #fbf9ff;
    color: #1f202d;
}
  
/* availability map */
.availability-map {
    height: 100%;
    width: 100%;    
    max-width: 70rem;
    padding-bottom: 4rem;
}

.paragraph-text {
    max-width: 64rem;    
    text-align: center;
}

.paragraph-text p {
    min-height: 6.25rem;
}

.available-disclaimer {
    color: #adacb5;
    font-size: 1.1rem;
    text-align: center;
    padding-bottom: 6.25rem;
    
}

.available-divider {
    border-bottom: 1px solid transparent;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.bottom-divider {
    border-bottom: 1px solid transparent;
    width: 100%;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
}

/* media queries */

@media (max-width: 640px) {
    
    .tab-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;        
        margin: 0;
        
    }

    .btn-tabs {
        margin: 0.5rem;
        width: 180px
    }

}

@media (max-width: 480px) {
    

    .btn-tabs {
        margin: 0.5rem;
        width: 160px;
    }

}
