/* header styles */

.available-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.available-hero {
    font-family: 'Encode Sans Expanded',Roboto, sans-serif;
    font-size: 4rem;
    font-weight: 800;
    font-kerning: none;
    line-height: 1.1;
    letter-spacing: -0.1rem;
    margin: 0.5rem 0 1.5rem;
    text-align: center;
    max-width: 75rem;
}

.available-text {
    color: #adacb5;
}
.available-green {
    color: #6eff00;
}

/* tabs */

  
.tab-list {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.button {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 0.25rem;
    padding: 0.75rem 2rem;
    border: none;
    background: #1f202d;
    color: #fbf9ff;
    border-radius: 0.25rem;;
}
  
.button-active {
    border: none;
    background: #fbf9ff;
    color: #1f202d;
}
  
/* availability map */
.availability-map {
    height: 100%;
    width: 100%;    
    max-width: 70rem;
}

.available-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120ch;
    height: 6.25rem;
}

.available-disclaimer {
    color: #adacb5;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    
}

.available-divider {
    border-bottom: 1px solid transparent;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.bottom-divider {
    border-bottom: 1px solid transparent;
    width: 100%;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
}