/* header styles */

.available-wrapper {
    max-width: 80rem;  
}

.hero-text-avail {
    font-size: 3.75rem;
}


.color-green {
    color: #6eff00;
}

/* tabs */  
.tab-list {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.btn-tabs {
    margin: 0 0.25rem;
    padding: 0.75rem 2rem;
    border: none;
    background: #1f202d;
    color: #fbf9ff;
}
  
.btn-tabs-active {
    border: none;
    background: #fbf9ff;
    color: #1f202d;
}
  
/* availability map */
.availability-map {
    height: 100%;
    width: 100%;    
    padding-bottom: 4rem;
}

.paragraph-text p {
    max-width: 80ch;    
    min-height: 6.25rem;
    padding-bottom: 2rem;
}

.available-disclaimer {
    color: #adacb5;
    font-size: 1.1rem;
    text-align: center;
    padding-bottom: 6.25rem;
    
}

/* media queries */

@media (max-width: 640px) {
    
    .tab-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;        
        margin: 0;
        
    }

    .btn-tabs {
        margin: 0.5rem;
        width: 180px
    }

}

@media (max-width: 480px) {
    

    .btn-tabs {
        margin: 0.5rem;
        width: 160px;
    }

}
