/* header containers which are fixed position */
.nav-container {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 100;
}

/* left column for logo */
.nav-logo {
    float: left;
    text-decoration: none; 
}

.nav-logo-img {
    width: 12rem;
}

/* center column for nav links */
.nav-screen {
    display: flex;
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
    justify-content: center;
    justify-self: center;
    align-items: center;
    position: static;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    padding: 7px;
    color: #7a7983;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: left;
    position: relative;
}

.nav-link.active {
    color: white;
}

.nav-link.active::before {
    content: '';
    background: #8000ff;
    width: 80%;
    height: 4px;
    position: absolute;
    bottom: -0.3rem;
    left: -40%;
    margin: 0 50%;
}

.nav-link:hover {
    color: white;
}

/* right column for buttons */
.nav-buttons {
    display: flex;
    justify-self: end;
    align-items: center;
    grid-column-gap: 1rem;
    margin-left: 1rem;
    
}

/* mobile button container */

.btn-mobile {
    display: none;
    width: 36px; 
    height: 30px;
    padding: 0;
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


/* mobile button lines default */
.btn-mobile .top-line, 
.btn-mobile .mid-line, 
.btn-mobile .end-line {
    width: 100%;
    height: 2px;
    background-color: #fbf9ff;
    transition: transform 0.1s ease, opacity 0.1s ease;
    transition-delay: 0.3s;
    position: absolute;
    left: 0;
}

.btn-mobile .top-line {
    transform: translateY(-9px); 
}

.btn-mobile .end-line {
    transform: translateY(9px); 
}


/* mobile button lines active */

.btn-mobile.active .top-line, 
.btn-mobile.active .mid-line, 
.btn-mobile.active .end-line {
    transition-delay: 0.3s;
}
.btn-mobile.active .top-line {
    transform: translateY(0) rotate(45deg);
}

.btn-mobile.active .mid-line {
    opacity: 0;
}

.btn-mobile.active .end-line {
    transform: translateY(0) rotate(-45deg);
}
  

/* mobile menu */
.nav-mobile {
    display: none;
    height: 100vh;
    background-color: #050614; 
    padding: 2.25rem 3.75rem;
    transition: right 0.4s ease-in-out;
    position: fixed;
    top: 100px;
    right: -100%;
}

.nav-mobile.active {
    right: 0;
}

/* media queries */

@media screen and (max-width: 1024px) {
    .nav-screen,
    .btn-login {
        display: none;
    }
    
    .nav-container {
        grid-template-columns: auto auto;
    }

    .btn-mobile {
        display: block;
    }

    .nav-screen {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    .nav-link {
        border-bottom: 1px solid #393945;
        padding-top: 1rem;
        padding-bottom: 1rem;
   
        text-decoration: none;
        display: block;
    }

    .nav-link.active::before {
        display: none;
    }

    .nav-tertiary-btn {
        display: block;
        margin-top: 2rem;
        width: 24rem;
        padding: 0.75rem 1.5rem;
        color: var(--so-clean-100-101);
        background-color: #20202c;
        border: 1px solid #8000ff;
        border-radius: 6px;
        color: #fbf9ff;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        text-decoration: none;
    }

    .nav-tertiary-btn:hover {
        background-color: #8000ff;
    }
}

@media screen and (max-width:640px) {
    .btn-signup {
        display: none;
    }

    .nav-mobile.active {
        width: 100%;
        min-width: 100%;
    }

    .nav-tertiary-btn {
        width: 100%;
        max-width: 100%;
    }
}