/* header containers which are fixed position */
.nav-container {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 100;
}

/* left column for logo */
.nav-logo {
    float: left;
    text-decoration: none; 
}

.nav-logo-img {
    width: 11.9rem;
    display: block;
}

/* center column for nav links */
.nav-bar {
    display: flex;
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
    justify-content: center;
    justify-self: center;
    align-items: center;
    position: static;
}
.nav-link {
    display: inline-block;
    vertical-align: top;
    padding: 7px;
    color: #7a7983;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: left;
    position: relative;
}

.nav-link.active {
    color: white;
}

.nav-link.active::before {
    content: '';
    background: #8000ff;
    width: 80%;
    height: 4px;
    position: absolute;
    bottom: -0.3rem;
    left: -40%;
    margin: 0 50%;
}

.nav-link:hover {
    color: white;
}

/* right column for buttons */
.nav-buttons {
    display: flex;
    justify-self: end;
    align-items: center;
    grid-column-gap: 1rem;
    margin-left: 1rem;
    
}

.nav-primary-btn {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    padding: 1rem 1.5rem;
    background-color: #8000ff;
    color: #fbf9ff;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
}

.nav-secondary-btn {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    padding: 1rem 1.5rem;
    background-color: #1f202d;
    color: #fbf9ff;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
}

/* mobile button container */

.nav-mobile-btn {
    display: none;
    width: 36px; 
    height: 30px;
    padding: 0;
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


/* mobile button lines default */
.nav-mobile-btn .top-line, 
.nav-mobile-btn .mid-line, 
.nav-mobile-btn .end-line {
    width: 100%;
    height: 2px;
    background-color: #fbf9ff;
    transition: transform 0.2s ease, opacity 0.1s ease;
    transition-delay: 0.3s;
    position: absolute;
    left: 0;
}

.nav-mobile-btn .top-line {
    transform: translateY(-9px); 
}

.nav-mobile-btn .end-line {
    transform: translateY(9px); 
}


/* mobile button lines active */

.nav-mobile-btn.active .top-line, 
.nav-mobile-btn.active .mid-line, 
.nav-mobile-btn.active .end-line {
    transition-delay: 0.4s;
}
.nav-mobile-btn.active .top-line {
    transform: translateY(0) rotate(45deg);
}

.nav-mobile-btn.active .mid-line {
    opacity: 0;
}

.nav-mobile-btn.active .end-line {
    transform: translateY(0) rotate(-45deg);
}
  

/* mobile menu */
.nav-mobile {
    height: 100vh;
    width: 480px;
    background-color: #050614; 
    padding: 2rem;
    transition: right 0.4s ease-in-out;
    position: fixed;
    top: 100px;
    right: -100%;
}

.nav-mobile.active {
    right: 0;
}

/* media queries for tablet */

@media screen and (max-width: 1024px) {
    .nav-container {
        grid-template-columns: auto auto;
    }

    .nav-mobile-btn {
        display: block;
    }

    .nav-bar {
        display: none;
    }

    .nav-link {
        border-bottom: 1px solid #393945;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
        display: block;
    }

    .nav-tertiary-btn {
        display: block;
        margin-top: 2rem;
        width: 16rem;
        padding: 1rem 1.5rem;
        background-color: #8000ff;
        border-radius: 6px;
        color: #fbf9ff;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        text-decoration: none;
    }

}

@media screen and (max-width: 768px) {
    .nav-secondary-btn {
        display: none;
    }

    .nav-mobile.active {
        height: 100vh;
        width: 100%;
    }
}
