/* containers and hero */
.home-wrapper {
    max-width: 68rem;
}

.hero-text-home {
    font-size: 6rem;
    text-transform: uppercase;
}

.hero-cash {
    width: 10rem;
    height: 10rem;
    position: relative;
    bottom: 9rem;
    left: -23.5rem;
    opacity: 0;
    visibility: hidden;
    animation: slideUp 1s ease-out 0.5s 1 forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(2rem);
        opacity: 0;
        visibility: visible;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.hero-dollar {
    color: #6eff00;
    margin-left: 0.3rem;
    margin-right: -0.3rem;
}       

.btn-home {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
}

/* media queries */
@media screen and (max-width: 1024px) {
    
    .hero-cash {
        width: 6rem;
        height: 6rem;
        bottom: 5.75rem;
        left: -14.5rem
    }

}

@media screen and (max-width: 640px) {

    .hero-cash {
        margin-bottom: 2rem;
        bottom: 0;
        left: 0;
    }

}