/* main wrapper that is scrollable */
.main-wrapper {
    max-width: 98.2rem;
    width: 100%;
    background-color: #050614;
    color: #fbf9ff;

    padding: 3rem 0;;
    position: relative;
    top: 10.3rem;
    z-index: 0;
}


